@model IEnumerable<RogerHouse.Domain.Entities.Page>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Page List</h2>

<p>
    @Html.ActionLink("Create New", "NewPage")
</p>
<table style="width:100%">
    <tr>
        <th>
            Title
        </th>
        <th>
            Path
        </th>
        <th>
            Visible
        </th>
        <th>
            Show in menu
        </th>
        <th>
            Order
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.ShowInMenu)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPage", new { path=item.Path }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PageId })
        </td>
    </tr>
}

</table>
